//- html
//-   head
//-     title Questions and Answers
//-     link(rel="stylesheet" href="/styles/home.css")

//-   body
//-     header
//-       h1 Questions and Answers
//-       if user
//-         h1 Good afternoon #{user.username}
//-         a.lien(href="/user/logout") logout
//-       else
//-         a.lien(href="/user/login") login
//-         a.lien(href="/user/register") Register
//-     main
//-       if user
//-         section.question-form
//-           form(action="/question/add_question", method="POST")
//-             label(for="question") Your Question
//-             input(type="text", name="question")
//-             input(type="hidden", name="user_id" value=`${user._id}`)
//-             button(type="submit") Ask

//-         if question
//-           each q in question
//-             section.question-list
//-               h3 #{q.question}
//-               if q.user_id
//-                 p created by #{q.user_id.email} 
//-                 p #{moment(q.createdAt).subtract(10, 'days').calendar()}
//-               else
//-                 p created by Unknown User
//-               a(href="#") reponses
//-       else 
//-         if question
//-           each q in question
//-             section.question-list
//-               h3 #{q.question}
//-               if q.user_id
//-                 p created by #{q.user_id.email} 
//-                 p #{moment(q.createdAt).subtract(10, 'days').calendar()}
//-               else
//-                 p created by Unknown User
//-               a(href="#") reponses


html
  head
    title Questions and Answers
    link(rel="stylesheet" href="/styles/home.css")

  body
    header
      h1 Questions and Answers
      if user
        //- h2 Good afternoon #{user.username}
        a.lien(href="/user/logout") Logout
      else
        a.lien(href="/user/login") Login
        a.lien(href="/user/register") Register
    main
      if user
        section.question-form
          form(action="/question/add_question", method="POST")
            label(for="question") Your Question
            input(type="text", name="question", placeholder="Ask something...")
            input(type="hidden", name="user_id", value=`${user._id}`)
            button(type="submit") Ask

        if question
          each q in question
            section.question-list
              if q.user_id
                p.created-by  #{moment(q.createdAt).subtract(10, 'days').calendar()}  by #{q.user_id.email} 
              else
                p.created-by created by Unknown User
              h3 #{q.question}
              a(href="#") Reponses
      else 
        if question
          each q in question
            
            section.question-list
              if q.user_id
                p.created-by  #{moment(q.createdAt).subtract(10, 'days').calendar()}  by #{q.user_id.email} 
              else
                p.created-by created by Unknown User
              h3 #{q.question}
              
              a(href="#") Reponses
